.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 5px;
    
    width: 250px;
}

.rows{
    display: flex;
    gap: 15px;
}



